@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color-light: #ffffff;
  --text-color-light: #333333;
  --bg-color-dark: #333333;
  --text-color-dark: #ffffff;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
  }
 
}
body{
  transition: .4s ease-in;
  background-color:white;
  color: #0e0e0e;
}
.dark-mode {
  background-color: #212121;
  color: #ffffff;
  transition: .4s ease-in;
}
.dark-mode  .navbar p {
  color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
*{
  font-family:sans-serif;
}


section{
  position: absolute;
  left: 50%;
  top:calc(100% + 15px);
  transform: translate(-50%,-100%);
  width: calc(100% - 50px);
  display: flex;
  padding: 20px;
  transform: translate(-50%,-100%);}

section img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
section button{
  background-color: rgb(4, 204, 204);
  min-width: 36px;
  min-height: 36px;
  margin: 20px;
  padding-left: 8px;
  transition: .4s ease-out;
  border-radius: 10px;
  position: relative;
  left: -70px;
}
.dark-mode section button{
  background-color:#ebebebe3;
  color: #212121;
}
section button:disabled{
  background-color:#e0e0e0;
  color: #ffffff;
  border:none;
}
.dark-mode section button:disabled{
  background-color:#ffffff2d;
  color: #212121;
}
section {
  color: white;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  border-radius: 100px;
  padding-top: 50px;
  z-index: 100 !important;
}
section input[type='text'] {
   width: 80%;
   height: 50px;
   color: #747474;
   border-radius: 20px;
   padding-left: 30px;
   border: .6px solid rgb(138, 138, 138);
   outline: 0px;
   transition: .4s all ease;
   background-color: #f0f4f9;
   resize: none;
   column-span: 1;
   padding-right: 58px;
}
.dark-mode section input[type='text'] {
  background-color: #212121;
  border: .6px solid rgb(138, 138, 138);
  transition: .4s ease-out;
  color: white;
}
section input[type='text']:focus{
  border: 1.3px solid rgb(103, 103, 103);
  background-color: rgb(159, 255, 255);

}
.dark-mode section input[type='text']:focus{
  background-color: #212121;
  border: 1.3px solid rgb(103, 103, 103);

}
.result{
  max-width: 82%;
  min-height: 75vh;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  overflow-x:hidden;
  overflow-y: scroll !important;
  min-height: 77vh;
  z-index: 99  !important;
  padding-bottom: 70px;

}
.result > img {
    pointer-events: none;

}

.profile{
  display: flex;
  align-items: center;
}
.profile > div{
  width: 30px;
  height: 30px;
  background-color: #1a8132;
  position: absolute;
  left: 20px;
  border-radius: 100%;
  text-align: center;
  color: white;
  display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; 
  font-family:'Montserrat';
  font-size: .9em;
}

.output{
  padding: 20px;
  padding-left: 50px;
  border-radius: 50px;
}
.navbar{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  border-bottom: 30px #041e49 solid;
  padding: 25px;
}

.dark-mode .navbar{
  border-bottom: 30px #0e0e0e solid;
}
.navbar p{
  margin-left: 15px;
  font-weight: 600;
  font-size: 1.2em;
  font-family:Arial, Helvetica, sans-serif!important;
  color: #7a7e83;
}
.navbar::after{
  content: 'Générative Ai (New Version)';
  position: absolute;
  top: 74px;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  font-size: .9em;
}

.codeblock{
   /* background-color: #141414; */
   padding: 5px;
   
   padding-left: 15px;  
   margin: 10px 0; /* Ajoutez une marge autour du bloc de code */
   border-radius: 5px; /* Ajoutez des coins arrondis pour un meilleur aspect */
}
.pre {
  white-space: pre-wrap;
  font-family: 'Montserrat';
 
}
.GenAI {
  display: flex;
  align-items: center;
}
.GenAI > div{
  width: 30px;
  height: 30px;
  background-color: #27ff59;
  position: absolute;
  left: 20px;
  border-radius: 100%;
  text-align: center;
  color: white;
  display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; 
  font-family:'Montserrat';
  font-size: .8em;

}

.btncopy{
  float: right;
  padding: 5px;
  color: white;
  border-radius: 10px;
  width: auto;
  transform: scale(.75);
}
.btncopy:hover > svg {
  fill: #04cccc;
}
.btncopy:hover{
  transform: scale(1);
}


@media screen and (max-width: 650px) {
  section{
   width: 100%;
   width: 120%;
    margin-left: 35px;
  }
  .result {
    max-width: 100%;
    max-height: 70vh;
    padding-bottom: 40px;
  }
 
 }
 @media screen and (max-width: 375px) {
  section{
   width: 100%;
   width: 120%;
    margin-left: 35px;
  }
  .result {
    max-width: 100%;
    max-height: 64vh;
  }
 
 }
 @media screen and (max-width: 1400px) {
  
  .result {
    height: 86vh;
  }
 
 }

.darkMode{
  width: 50px;
  height: 25px;
  border-radius: 20px;
  background-color: #212121;
  color: white;
  transition: .6S ease-in-out;
  display: flex;
  justify-content: space-between;
}
.icon{
  margin-left: 7px;
  visibility: hidden;
}
.darkMode::after{
  content: '';
  position: relative;
  left: -33px;
  transition: .6S ease-in-out;
  height: 20px;
  min-width: 20px;
  margin: 2px;
  border-radius: 20px;
  background-color: #ffffff;
}
.dark-mode .darkMode{
  background-color: #04cccc;
  
}
.dark-mode .darkMode::after{
  content: '-';
  position: relative;
  left: -10px;
}
/* scroll bar */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  
  border-radius: 100px;
}
 

 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #5f5f5f; 
  border-radius: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb:hover {
  background: #a7a7a7ed; 
  border-radius: 100px;
}